@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

:root {
  --clr-base: #3f4e65;
  --clr-base-lt: #5c6370; 
  --clr-base-dk: #111111;

  --bg-clr-base: #e5e5e5;
  --bg-clr-lt: #ededed;

  --clr-white: #ffffff;

  --input-placeholder-clr: rgba(92, 99, 112, 0.6);

  --clr-primary:#ffc85e;
  --clr-primary-dk:#f3a50d;
  --clr-action: #1fd85d;

  --ff-base: 'Inter', sans-serif;     
  --fs-base: 14px;

  --fs-1: 40px;
  --fs-2: 30px;
  --fs-3: 16px;
  --fs-4: 14px;
  --fs-5: 12px;
  --fs-6: 10px;
}

body {
  min-width: 320px;

  font-family: var(--ff-base);
  font-size: var(--fs-base);
  font-weight: 300;
  line-height: 1.5;  
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;  
}

main {
  flex-grow: 1;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;

  transition: all 0.2s ease-in;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

::placeholder { 
  color: var(--input-placeholder-clr);
  opacity: 1; 
}

:-ms-input-placeholder {
  color: var(--input-placeholder-clr);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1366px;  
  margin: 0 auto;
}

@media (max-width: 1367px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: unset;
    width: 100%;
    padding: 0 15px;
  }

  .nav .linkList {
    flex-direction: column;
    align-items: center;
  }

  .nav .linkList li::after {
    display: none;
  }
}

@media (max-width: 450px) {
  .nav .linkList {    
    align-items: start;
  }
}

button { 
  display: flex;
  align-items: center;  
  padding: 0;  
  
  color: var(--clr-white);
  font-weight: 700;
  line-height: 0;

  border: none;  
  background-color: transparent;

  outline: none;
  cursor: pointer;

  transition: all 0.2s ease-in;
}