.itemWrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1023px) {
  .itemWrapper {
    flex-direction: column;
    justify-content: center;
  }
}

.itemInfo {
  display: flex;
  align-items: center; 
}

@media (max-width: 1023px) {
  .itemInfo {
    flex-direction: column;
    justify-content: center;
    
    margin-right: unset;
  }
}

.imgWrapper {
  width: 281px;
  height: 191px;

  margin-right: 20px;
}

@media (max-width: 1367px) { 
  .imgWrapper {
    width: 290px;
    height: 197px;
  
    margin-right: 20px;
  }
}

.itemImg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;

  width: 481px;  
}

.details div:first-child {
  margin-bottom: 10px;
}

@media (max-width: 1367px) { 
  .details {
    width: 290px;
  }  
}

.name,
.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.name {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: var(--fs-2);
  line-height: 36px;
  color: var(--clr-base-dk);
}

@media (max-width: 1367px) { 
  .name {
    font-size: 20px;
    line-height: 24px;
  }
}

.description {
  font-size: var(--fs-5);  
}

.actions {
  display: flex;
  align-items: center;
}

@media (max-width: 1023px) {
  .actions {    
    justify-content: center;
  }

  .description {
    margin-bottom: 15px;  
  }
}

.actionsItem:not(:last-child) {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 49px;
  padding: 0 44px;

  border-left: 1px dashed rgba(63, 78, 101, 0.2);
  border-right: 1px dashed rgba(63, 78, 101, 0.2);
}

@media (max-width: 1367px) { 
  .actionsItem:not(:last-child) {
    padding: 0 15px;
  }
}

.actionsItem:first-child {
  border-right: none;
}

@media (max-width: 1023px) {
  .actionsItem:first-child {
    padding-left: unset;
    border-left: none;
  }
}

.actionsItem:last-child {  
  margin-left: 20px;
}

@media (max-width: 1023px) {
  .actionsItem:last-child {  
    margin-left: 10px;
  }
}

.price  {
  font-weight: 700;
  font-size: var(--fs-2);
  line-height: 1.3;
  color: var(--clr-base-dk);
}

@media (max-width: 1367px) { 
  .price {   
    font-size: var(--fs-3); 
  }
}

.removeBtn {
  justify-content: center;

  width: 59px;
  height: 59px;  

  font-weight: 700;
     
  border-radius: 50%;
  background-color: var(--clr-primary);

  background-image: url('/icons/basket-icon.svg');
  background-position: center;
  background-repeat: no-repeat; 
}

.removeBtn:hover,
.removeBtn:focus {
  background-color: var(--clr-primary-dk); 
}

.removeBtn:active {
  background-color: var(--clr-primary-dk);
  transform: scale(0.98);
}